.wifiMain {
   text-align: left;
   width: 320px; /* for phones */
   margin: auto;
}

.wifiMain .form {
   padding: 0.3em;
   display: flex;
   flex-flow: column nowrap;
}

.wifiMain .form button {
   line-height: 2em;
   font-size: 1em; /* remove all default styling */
   border: 1px solid;
   border-radius: 0.3em;
}

.wifiMain input {
   padding: 0.3em;
   font-size: 1em;
}

/* WIFI List */

.wifiMain .apList,
.wifiMain .msg {
   line-height: 1.5em;
   max-height: 8em;
}

.wifiMain .apList {
   font-size: 1em;
}

/* Input form */

.wifiMain .form > * {
   margin-top: 0.1em;
}

.wifiMain .form label {
   margin-top: 0.3em;
}

.wifiMain .form .save {
   margin-top: 1em;
}

