body
{
   margin: 0;
   padding: 0;
   background-color: #070a20;
   color: #fff;
}

/* colors */

.data,
.wifiMain
{
    background-color: #1c426c;
    color: #fff;
}

.data-block
{
    background-color: #e7e7e7;
    color: #000;
}

.wifiMain input,
.wifiMain .apList
{
   /* I really want to grey this a bit but it's a mess styling option highlights */
   /*
   background-color: #ccc;
   color: #000;
   */
}

.wifiMain .ap:active {
   background-color: teal;  
}

.wifiMain .form button {
   background-color: #ccc;
   color: #000;
}

.wifiMain .form button:hover {
}

.wifiMain .form button:active {
   fill: #ff0000;
   background-color: teal;
}

.ra-btn
{
   background-color: teal;
}