.main
{
    max-width: 60rem;
    margin: auto;
}

/** Toolbar */
.ra-btn
{
    text-align: right;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.3rem;
    vertical-align: middle;
}

.ra-btn button
{
   height: 1.5rem;
}

.data
{
    display: flex;
    flex-flow: column wrap;
    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.data-block
{
    width: 18rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.lvpair
{
    display: flex;
    flex-flow: row nowrap;
}

.lvpair > label
{
    font-weight: bold;
    white-space: nowrap;
    width: 9rem;
    flex-grow: 1;
}

.lvpair > div /* data */
{
    width: 7rem;
    text-align: right;
    float: right;
}

.lvpair > div > .value
{
}

.lvpair > div > .units
{
    display: inline-block;
    width: 1.3em;
    text-align: left;
}

.lvpair > *
{
    padding: 2px;
}

.status-block label
{
    width: 5rem;
}

.status-block div
{
    white-space: nowrap;
    width: 11rem;
}

#footer
{
    font-size: smaller;
    text-align: center;
    padding: 0.3em;
}

#footer > .content
{
}
